In [ ]:
# prompt: Create a dataframe

import pandas as pd
df = pd.DataFrame(data={'name': ['Alice', 'Bob', 'Carol', 'Dave'],
                     'age': [20, 25, 30, 35]})

In [ ]:
from pyspark import SparkConf, SparkContext
import collections

#Creating a configure for Spark Context
conf = SparkConf().setMaster("local").setAppName("RatingsHistogram")

#Creating a spark context based on the config given
sc = SparkContext(conf = conf)


lines = sc.textFile("C:\\Users\\Tejas.Pathak\\Downloads\\ml-100k\\u.data")

In [ ]:
ratings = lines.map(lambda x: x.split()[1])
print(ratings)

PythonRDD[8] at RDD at PythonRDD.scala:53

In [ ]:
import pyspark

In [27]:
import pandas as pd
pd.read_csv("C:\\Users\\Tejas.Pathak\\Downloads\\test1.csv")

FileNotFoundError: ignored

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [30]:
spark

In [50]:
df_pyspark = spark.read.csv("test1.csv")

In [52]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [53]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [55]:
df_pyspark.head(3)

[Row(Name='Tejas', age='23'),
 Row(Name='Anurag', age='27'),
 Row(Name='Krish', age='32')]

In [56]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)

In [63]:
df_pyspark = spark.read.option('header','true').csv('test1.csv', inferSchema = True)

In [64]:
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Tejas| 23|         9|
|Anurag| 27|         3|
| Krish| 32|        21|
+------+---+----------+

In [65]:
###Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [66]:
df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema = True)
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Tejas| 23|         9|
|Anurag| 27|         3|
| Krish| 32|        21|
+------+---+----------+

In [67]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [68]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [69]:
df_pyspark.head(3)

[Row(Name='Tejas', age=23, Experience=9),
 Row(Name='Anurag', age=27, Experience=3),
 Row(Name='Krish', age=32, Experience=21)]

In [72]:
df_pyspark.select(['Name', 'Experience']).show()

DataFrame[Name: string]

In [75]:
#Getting the data types
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [77]:
df_pyspark.describe().show()

+-------+------+------------------+----------------+
|summary|  Name|               age|      Experience|
+-------+------+------------------+----------------+
|  count|     3|                 3|               3|
|   mean|  NULL|27.333333333333332|            11.0|
| stddev|  NULL| 4.509249752822894|9.16515138991168|
|    min|Anurag|                23|               3|
|    max| Tejas|                32|              21|
+-------+------+------------------+----------------+

In [80]:
#How to add columns in dataframe

df_pyspark =  df_pyspark.withColumn('Experience After 2 year', df_pyspark['Experience']+2)

In [81]:
df_pyspark.show()

+------+---+----------+-----------------------+
|  Name|age|Experience|Experience After 2 year|
+------+---+----------+-----------------------+
| Tejas| 23|         9|                     11|
|Anurag| 27|         3|                      5|
| Krish| 32|        21|                     23|
+------+---+----------+-----------------------+

In [82]:
#How to drop the columns

df_pyspark = df_pyspark.drop('Experience')

DataFrame[Name: string, age: int, Experience After 2 year: int]

In [84]:
df_pyspark.show()

+------+---+----------+-----------------------+
|  Name|age|Experience|Experience After 2 year|
+------+---+----------+-----------------------+
| Tejas| 23|         9|                     11|
|Anurag| 27|         3|                      5|
| Krish| 32|        21|                     23|
+------+---+----------+-----------------------+

In [87]:
#Renaming the columns

df_pyspark.withColumnsRenamed('Name','NewName')

TypeError: ignored

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=04f59f8d17958a9a2a325052ca19be273211c8487193c25a2f038887d2a365ac
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Spark_app').getOrCreate()

In [3]:
case_df = spark.read.csv('my file.csv', header = True, inferSchema = True)

In [4]:
case_df.show()

+-------+------------+--------------------+--------------------+--------------+--------------+----------+---------------+
|case_id|authority_id|      attribute_name|  attribute_category|         value|value_category|value_code|in_case_summary|
+-------+------------+--------------------+--------------------+--------------+--------------+----------+---------------+
|1689336|         600| Client project code|      Legal - Client|          NULL|          NULL|      NULL|            Yes|
|1689336|         600|      Account number|      Legal - Client|          NULL|          NULL|      NULL|            Yes|
|1689336|         600|               Title|        Legal - Case|Advice on case|          NULL|      NULL|            Yes|
|1689336|         600|             Summary|        Legal - Case|          NULL|          NULL|      NULL|            Yes|
|1689336|         600|  External reference|        Legal - Case|          NULL|          NULL|      NULL|             No|
|1689336|         600|     Court reference|        Legal - Case|          NULL|          NULL|      NULL|             No|
|1689336|         600|    MOSAIC reference|        Legal - Case|          NULL|          NULL|      NULL|             No|
|1689336|         600|    Other colleagues|        Legal - Case|          NULL|          NULL|      NULL|             No|
|1689336|         600|Have you checked ...|Conflict of interest|           Yes|          NULL|      NULL|             No|
|1689336|         600|Did you identify ...|Conflict of interest|            No|          NULL|      NULL|             No|
|1689336|         600|Original level of...|        Legal - Risk|           Low|          NULL|      NULL|             No|
|1689336|         600|Estimated charge ...|        Legal - Case|          0.00|          NULL|      NULL|             No|
|1689336|         600|Estimated disburs...|        Legal - Case|          0.00|          NULL|      NULL|             No|
|1689336|         600|Adult respondents...|Adult social serv...|          NULL|          NULL|      NULL|             No|
|1689336|         600|  Adult claim number|Adult social serv...|          NULL|          NULL|      NULL|             No|
|1689336|         600|Adult first heari...|Adult social serv...|          NULL|          NULL|      NULL|             No|
|1689336|         600|Adult first heari...|Adult social serv...|          NULL|          NULL|      NULL|             No|
|1689336|         600|Adult second hear...|Adult social serv...|          NULL|          NULL|      NULL|             No|
|1689336|         600|Adult second hear...|Adult social serv...|          NULL|          NULL|      NULL|             No|
|1689336|         600|Adult final heari...|Adult social serv...|          NULL|          NULL|      NULL|             No|
+-------+------------+--------------------+--------------------+--------------+--------------+----------+---------------+
only showing top 20 rows

In [6]:
case_df.select('*').where(case_df['in_case_summary'] == 'Yes').show()

+-------+------------+--------------------+--------------------+--------------------+--------------+----------+---------------+
|case_id|authority_id|      attribute_name|  attribute_category|               value|value_category|value_code|in_case_summary|
+-------+------------+--------------------+--------------------+--------------------+--------------+----------+---------------+
|1689336|         600| Client project code|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
|1689336|         600|      Account number|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
|1689336|         600|               Title|        Legal - Case|      Advice on case|          NULL|      NULL|            Yes|
|1689336|         600|             Summary|        Legal - Case|                NULL|          NULL|      NULL|            Yes|
|1689336|         600|   Adult final order|Adult social serv...|                NULL|          NULL|      NULL|            Yes|
|1689336|         600|  Client cost centre|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
|1689336|         600|  Client cost centre|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
|1689436|         600|  Client cost centre|      Legal - Client|                 DDD|          NULL|      NULL|            Yes|
|1689436|         600| Client project code|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
|1689436|         600|      Account number|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
|1689436|         600|           Work area|        Legal - Case|    Civil Litigation|          NULL|      NULL|            Yes|
|1689436|         600|           Work type|        Legal - Case|Civil Lit - Debt ...|          NULL|      NULL|            Yes|
|1689436|         600|               Title|        Legal - Case|         Test case 1|          NULL|      NULL|            Yes|
|1689436|         600|             Summary|        Legal - Case|                NULL|          NULL|      NULL|            Yes|
|1689336|         600|           Work area|        Legal - Case|   Adult Social Care|          NULL|      NULL|            Yes|
|1689336|         600|           Work type|        Legal - Case|Proceedings - Cou...|          NULL|      NULL|            Yes|
|1689436|         600|Total invoice amount|       Debt recovery|                0.00|          NULL|      NULL|            Yes|
|1689436|         600|Outstanding invoi...|       Debt recovery|                1.00|          NULL|      NULL|            Yes|
|1689436|         600|     Current balance|       Debt recovery|                0.00|          NULL|      NULL|            Yes|
|1689436|         600|           Client ID|      Legal - Client|                NULL|          NULL|      NULL|            Yes|
+-------+------------+--------------------+--------------------+--------------------+--------------+----------+---------------+
only showing top 20 rows

In [7]:
case_df.select('*').where(case_df['attribute_name'] == 'Title').show()

+-------+------------+--------------+--------------------+--------------------+--------------+----------+---------------+
|case_id|authority_id|attribute_name|  attribute_category|               value|value_category|value_code|in_case_summary|
+-------+------------+--------------+--------------------+--------------------+--------------+----------+---------------+
|1689336|         600|         Title|        Legal - Case|      Advice on case|          NULL|      NULL|            Yes|
|1689436|         600|         Title|        Legal - Case|         Test case 1|          NULL|      NULL|            Yes|
|1691336|         600|         Title|        Legal - Case|           Test case|          NULL|      NULL|            Yes|
|1691636|         600|         Title|        Legal - Case|      CH - Test Case|          NULL|      NULL|            Yes|
|1691938|         600|         Title|        Legal - Case|                Test|          NULL|      NULL|            Yes|
|1691838|         600|         Title|        Legal - Case|Employment Test Case|          NULL|      NULL|            Yes|
|1691737|         600|         Title|        Legal - Case|   General Test Case|          NULL|      NULL|            Yes|
|1691839|         600|         Title|        Legal - Case|   Housing Test Case|          NULL|      NULL|            Yes|
|1692236|         600|         Title|Case details - Le...|Employment Test M...|          NULL|      NULL|            Yes|
|1692436|         600|         Title|        Legal - Case|  SL TEST CASE 07/12|          NULL|      NULL|            Yes|
|1710536|         600|         Title|        Legal - Case|        Parking fine|          NULL|      NULL|            Yes|
|1693236|         600|         Title|        Legal - Case|       Debt recovery|          NULL|      NULL|            Yes|
+-------+------------+--------------+--------------------+--------------------+--------------+----------+---------------+